/* Base */

body {
	color: white;
	background-color: black;
}

/* Navigation */

#navigation ul {
	list-style-type: none;
	background-color: #242424;
	text-align: center;
    margin: 0;
    padding: 0;
}

#navigation li {
	line-height: 3em;
	border-bottom: 1px solid #888;
}

#navigation li.nav-current {
	background-color: rgb(146, 0, 0);
	color: #444;
	cursor: default;
}

#navigation a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

#navigation a:hover {
	background-color: #570000;
}

@media screen and (min-width: 600px) {
	#navigation li {
		width: 20%;
		border-bottom: none;
		font-size: 1.2em;
	}

	#navigation li {
		display: inline-block;
		margin-right: -5px;
	}
}