#game {
	background: green;
	width: 95%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

#deck {
	display: inline-block;
	background: #272727;
	height: 105px;
	width: 75px;
	border-radius: 5px;
	margin: 1px;
}

#pot {}

#game-info {
	padding: 1em;
}


/* Player */

.seat {
	display: inline-block;
	padding: 1em;
}

.empty {}

.occupied {}

.player-info {
	display: inline-block;
	position: relative;
}

.player-info .image {
	width: 150px;
	height: 150px;
	background: #8f7a00;
}

.player-info .name {
	position: absolute;
	top: 5px;
	width: 100%;
}

.stack {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.hand {}

.card {
	display: inline-block;
	background: #272727;
	height: 105px;
	width: 75px;
	border-radius: 5px;
	margin: 1px;
}

.timer {
	background: #8f0000;
	height: 10px;
	width: 100%;
}


/* Menu */

#game-menu {
	width: 95%;
	max-width: none;
}