.tables {
	background:white;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 4%;
	margin-right: 4%;
	height: 20em;
	width: 90%;
}
td,th{
	padding-left: 1em;
	padding-right: 3em;
}
body{
	background-color: #bbb;
}
h1{
	text-align: center;
}
.menu{
	position: relative;
	top: 95%;
	text-align: center;
}
p{
	display: inline;
	margin-left: 2em;
	margin-right: 2em;
}
form{
	display: inline;
}
button{
	margin-left: 2em;
	margin-right: 2em;
}
