<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/style.css">
		<title>Poker 470{{ template "title" . }}</title>
	</head>
	<body>
		{{ template "content" . }}
	</body>
</html>