<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Poker 470{{ template "title" . }}</title>
		{{ template "head" . }}
	</head>
	<body>
		<div id="navigation">
			{{ template "navigation" . }}
		</div>
		<div id="content">
			{{ template "content" . }}
		</div>
	</body>
</html>
