{{ define "game" -}}
		{{ with .GameListing -}}
        <h1>{{ .Name }}</h1>
		{{ with .Game -}}
		{{ $deckSize := len .Deck }}

<!--

Game:
	Phase          int        `json: "phase"`
	Players        []Player   `json: "players"`
	Sitters        []Player   `json: "sitters"`
	Current_Player string     `json: "current_player"`
	Current_Bet    int        `json: "current_bet"`
	Bet_Counter    int        `json: "bet_counter"`
	Ante           int        `json: "ante"`
	Max_bet        int        `json: "max_bet"`
	Min_bet        int        `json: "min_bet"`
	Dealer_Token   int        `json: "dealer_token"`
	Timer          time.Timer `json: "timer"`

Seat:
	Occupier *Player `json: "occupier"`


Player:
	Name      string  `json: "name"`
	Money     int     `json: "money"`
	Hand      []Card  `json: "hand"`
	Folded    bool    `json: "folded"`
	Called    bool    `json: "called"`
	Discarded bool    `json: "discarded"`
	Bet       int     `json: "bet"`
	Hand_Rank int     `json: "hand_rank"`
	Card_Hist [14]int `json: "card_hist"`
	Seat      int     `json: "seat"`

Card:
	Face string `json: "face"`
	Suit string `json: "suit"`
	Rank int    `json: "rank"`

-->


		<div id="game">
			<div id="game-info">
				<div id="deck">Cards: {{ $deckSize }}</div>
				<div id="pot">{{ .Pot }}</div>
			</div>
			{{ range .Seats -}}
			<div class="seat player-{{ .Number }} {{ if .Occupied}}occupied{{ else }}empty{{ end }}">
				<div class="player-info">
					{{ if .Occupier -}}
					<div class="image"><img src=""></div>
					<div class="name"></div>
					<div class="stack"></div>
					{{- else -}}
					<div class="image"></div>
					{{- end }}
				</div>
				<div class="hand">
					<div class="card card-1 none"></div>
					<div class="card card-2 none"></div>
					<div class="card card-3 none"></div>
					<div class="card card-4 none"></div>
					<div class="card card-5 none"></div>
				</div>
				<div class="timer"></div>
			</div>
			{{ end -}}
		</div>
		{{- end }}
		{{- end }}
{{- end }}
