{{ define "game" -}}
		{{ $siteroot := .SiteRoot -}}
		{{ with .GamePage -}}
        <h1>{{ .Name }}</h1>
		{{ with .Game -}}
		{{ $deckSize := len .Deck }}
		<div id="game">
			<div id="game-info">
				<div id="deck">Cards: {{ $deckSize }}</div>
				<div id="pot">{{ .Pot }}</div>
			</div>
			{{ range .Seats -}}
			<div class="seat player-{{ .Number }} {{ if .Occupied }}occupied{{ else }}empty{{ end }}">
				{{ if .Occupied}}
				{{ with .Occupier -}}
				<div class="player-info">
					<div class="image"><img src="{{ $siteroot }}/assets/img/{{ .PictureSlug }}"></div>
					<div class="name"><a href="{{ $siteroot }}/user/{{ .Username }}/view">{{ .Username }}</a></div>
					<div class="stack">{{ .Money }}</div>
				</div>
				<div class="hand">
					{{ range $index, $card := .Hand -}}
					<div class="card card-{{ $index }} {{ .Suit }} rank{{ .Face }}"></div>
					{{ end -}}
				</div>
				{{ end }}
				{{ else }}
				<div class="player-info">
					<div class="image"></div>
					<div class="name">
						<form action="sit" method="post">
							<input type="hidden" value="{{ .Number }}" name="seat">
							<input type="number" placeholder="Buyin" name="buyin">
							<button type="submit" class="">Join!</button>
						</form>
					</div>
					<div class="stack"></div>
				</div>
				<div class="hand">
					<div class="card card-1 none"></div>
					<div class="card card-1 none"></div>
					<div class="card card-1 none"></div>
					<div class="card card-1 none"></div>
					<div class="card card-1 none"></div>
				</div>
				{{ end }}
				<div class="timer"></div>
			</div>
			{{ end -}}
		</div>
		{{- end }}
		{{- end }}
{{- end }}