{{ define "title" }} | Play{{ end }}
{{ define "content" -}}
		{{ template "game" . }}
		<div id="discard">
			<div>
				<form action="discard" method="post">
					<div>
						<label for="card1discard">Card 1</label>
						<input type="checkbox" name="card1discard" value="card1discard">
					</div>
					<div>
						<label for="card1discard">Card 2</label>
						<input type="checkbox" name="card2discard" value="card2discard">
					</div>
					<div>
						<label for="card1discard">Card 3</label>
						<input type="checkbox" name="card3discard" value="card3discard">
					</div>
					<div>
						<label for="card1discard">Card 4</label>
						<input type="checkbox" name="card4discard" value="card4discard">
					</div>
					<div>
						<label for="card1discard">Card 5</label>
						<input type="checkbox" name="card5discard" value="card5discard">
					</div>
					<div>
						<button type="submit" class="">Discard</button>
					</div>
				</form>
			</div>
		</div>
		<div id="betting">
			<div>
				<form action="check" method="get">
					<button type="submit" class="">Check</button>
				</form>
			</div>
			<div>
				<form action="call" method="get">
					<button type="submit" class="">Call</button>
				</form>
			</div>
			<div>
				<form action="bet" method="post">
					<input name="bet" type="number">
					<button type="submit">Raise</button>
				</form>
			</div>
			<div>
				<form action="fold" method="get">
					<button type="submit" class="">Fold</button>
				</form>
			</div>
			<div>
				<form action="leave" method="get">
					<button type="submit" class="">Quit</button>
				</form>
			</div>
		</div>
{{- end }}