{{ define "title" }} | Lobby{{ end }}
{{ define "content" -}}
		{{ with .Lobby -}}
		<h1>Lobby</h1>
		<table>
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Stakes</th>
					<th scope="col">Players</th>
				</tr>
			</thead>
			<tbody>
				{{ range . -}}
				<tr>
					<td>{{ .Title }}</td>
					<td>{{ .Stakes }}</td>
					<td>{{ .PlayerCount }}/{{ .MaxPlayers }}</td>
				</tr>
				{{- end}}
			</tbody>
		</table>
		{{- end }}
{{- end }}
