{{ define "title" }} | Lobby{{ end }}
{{ define "content" -}}
		{{ $siteroot := .SiteRoot -}}
		<h1>Lobby</h1>
		<div id="content">
			{{ with .Lobby -}}
			{{ if .Empty -}}
			<p>No games found.</p>
			{{- else -}}
			<table>
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Stakes</th>
						<th scope="col">Players</th>
						<th scope="col">Link</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Games -}}
					<tr>
						<td>{{ .Name }}</td>
						<td>Ante: {{ .Ante }}, Min: {{ .MinBet }}, Max: {{ .MaxBet }}</td>
						<td>{{ .PlayerCount }}/6</td>
						<td><a href="{{ $siteroot }}/game/{{ .Slug }}/play">Join</a>, <a href="{{ $siteroot }}/game/{{ .Slug }}/watch">Watch</a></td>
					</tr>
					{{- end}}
				</tbody>
			</table>
			{{- end }}
			{{- end }}
		</div>
{{- end }}