{{ define "head" -}}
		<link rel="stylesheet" href="/poker/assets/css/normalize.css">
		<link rel="stylesheet" href="/poker/assets/css/base.css">
		<link rel="stylesheet" href="/poker/assets/css/game.css">
		<script src="/poker/assets/js/game.js"></script>
{{- end }}
