{{ define "head" -}}
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/normalize.min.css">
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/base.min.css">
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/game.min.css">
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/cards.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--
		<script src="{{ .SiteRoot }}/assets/js/connection.js"></script>
		<script src="{{ .SiteRoot }}/assets/js/game.js"></script>
		-->
{{- end }}
