{{ define "head" -}}
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/normalize.css">
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/base.css">
		<link rel="stylesheet" href="{{ .SiteRoot }}/assets/css/game.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{ .SiteRoot }}/assets/js/game.js"></script>
		<script src="{{ .SiteRoot }}/assets/js/connection.js"></script>
{{- end }}
