{{ define "title" }}{{ end }}
{{ define "content" -}}
			<div class="content">
            <h1>Poker 470</h1>
            <p>Welcome to Poker 470! Please feel free to register for an account or login using the navigation bar.</p>
            <p>At any point, feel free to visit the lobby to join or watch a game.</p>
            <p>Our site has the following pages:</p>
            <ul class="main-list">
                <li><a href="{{ .SiteRoot }}/">Home</a></li>
                <li><a href="{{ .SiteRoot }}/login/">Login</a></li>
                <li><a href="{{ .SiteRoot }}/logout/">Logout</a></li>
                <li><a href="{{ .SiteRoot }}/register/">Register</a></li>
                <li><a href="{{ .SiteRoot }}/user/greg/view">View User</a></li>
                <li><a href="{{ .SiteRoot }}/user/greg/edit">Edit User</a> (you must be logged in as Greg to view this page)</li>
                <li><a href="{{ .SiteRoot }}/lobby/">Lobby</a></li>
                <li><a href="{{ .SiteRoot }}/game/limit-10/play">Play Game</a></li>
                <li><a href="{{ .SiteRoot }}/game/limit-10/watch">Watch Game</a></li>
                <li><a href="{{ .SiteRoot }}/leaderboard/">Leaderboard</a></li>
            </ul>
            <p>If you decide to play a game, you will run into problems. If you play carefully enough (perhaps aided by the server log) then you can actually finish rounds. Good luck!<p>
            </div>
{{- end }}
