{{ define "title" }}{{ end }}
{{ define "content" -}}
		<ul>
            <li><a href="{{ .SiteRoot }}/">Home</a></li>
            <li><a href="{{ .SiteRoot }}/login/">Login</a></li>
            <li><a href="{{ .SiteRoot }}/register/">Register</a></li>
            <li><a href="{{ .SiteRoot }}/user/example/view">View User</a></li>
            <li><a href="{{ .SiteRoot }}/user/example/edit">Edit User</a></li>
            <li><a href="{{ .SiteRoot }}/lobby/">Lobby</a></li>
            <li><a href="{{ .SiteRoot }}/game/example/play">Play Game</a></li>
            <li><a href="{{ .SiteRoot }}/game/example/watch">Watch Game</a></li>
            <li><a href="{{ .SiteRoot }}/leaderboard/">Leaderboard</a></li>
        </ul>
{{- end }}
