{{ define "title" }}{{ end }}
{{ define "content" -}}
		<ul>
            <li><a href="/poker/">Home</a></li>
            <li><a href="/poker/login/">Login</a></li>
            <li><a href="/poker/register/">Register</a></li>
            <li><a href="/poker/user/user">View User</a></li>
            <li><a href="/poker/user/user/edit">Edit User</a></li>
            <li><a href="/poker/game/lobby">Lobby</a></li>
            <li><a href="/poker/game/play">Play Game</a></li>
            <li><a href="/poker/game/watch">Watch Game</a></li>
            <li><a href="/poker/leaderboard/">Leaderboard</a></li>
        </ul>
{{- end }}
