{{ define "title" }} | Leaderboard{{ end }}
{{ define "content" -}}
		{{ with .Leaderboard -}}
		<h1>Leaderboard</h1>
		<table>
			<tr>
				<th>Player Name</th>
				<th>Hands Played</th>
				<th>Wins</th>
				<th>Losses</th>
				<th>Draws</th>
				<th>$ Earned</th>
			</tr>
		</table>
		{{- end }}
{{- end }}
