{{ define "title" }} | Leaderboard{{ end }}
{{ define "content" -}}
		{{ with .Leaderboard -}}
		<h1>Leaderboard</h1>
		<table>
			<thead>
				<tr>
					<th scope="col">User</th>
					<th scope="col">Hands Played</th>
					<th scope="col">Total Cash</th>
				</tr>
			</thead>
			<tbody>
				{{ range . -}}
				<tr>
					<td>{{ .Username }}</td>
					<td>{{ .Played }}</td>
					<td>{{ .Cash }}</td>
				</tr>
				{{- end}}
			</tbody>
		</table>
		{{- end }}
{{- end }}
