{{ define "navigation" -}}
			{{ with .Session -}}
			<div class="nav-bar">
			  <div id="poker470-logo"><a href="../home/home.html">POKER470!</a></div>
			  <a href="../home/home.html" class="nav-links">Home</a>
			  <a href="../leaderboards/leaderboards.html" class="nav-links">Leaderboards</a>
			  <a href="../login/login.html" class="nav-links">Login</a>
			  <a href="../new user/new user.html" class="nav-links">Register</a>
			</div>
			{{- end }}
			{{- end }}
{{- end }}
