{{ define "navigation" -}}
		<div id="navigation">
			{{ with .Session -}}
			<ul>
				<li{{ if .PageHome }} class="nav-current">{{ else }}>{{ end }}
					<a href="/poker/">Home</a>
				</li>
				<li{{ if .PageGame }} class="nav-current">{{ else }}>{{ end }}
					<a href="/poker/game/">Play</a>
				</li>
				<li{{ if .PageLeaderboard }} class="nav-current">{{ else }}>{{ end }}
					<a href="/poker/leaderboard/">Leaderboard</a>
				</li>
				<li{{ if .PageUser }} class="nav-current"{{ end }}>
					{{ if .LoggedIn -}}<a href="/poker/user/{{ .Username }}">Profile{{ else }}<a href="/poker/register/">Register{{ end }}</a>
				</li>
			</ul>
			{{- end }}
		</div>
{{- end }}
