{{ define "navigation" -}}
		{{ $siteroot := .SiteRoot -}}
		<div id="navigation">
			<ul>
				<li{{ if eq .NavigationLevel 1 }} class="nav-current">{{ else }}>{{ end }}
					<a href="{{ .SiteRoot -}}/">Home</a>
				</li>
				<li{{ if eq .NavigationLevel 2 }} class="nav-current">{{ else }}>{{ end }}
					<a href="{{ .SiteRoot -}}/game/">Play</a>
				</li>
				<li{{ if eq .NavigationLevel 3 }} class="nav-current">{{ else }}>{{ end }}
					<a href="{{ .SiteRoot -}}/leaderboard/">Leaderboard</a>
				</li>
				<li{{ if eq .NavigationLevel 4 }} class="nav-current">{{ else }}>{{ end }}
				{{ with .Identity -}}
					{{ if .LoggedIn -}}
						<a href="{{ $siteroot }}/user/{{ .Username }}/edit">Profile
					{{- else -}}
						<a href="{{ $siteroot }}/register/">Register
					{{- end }}
						</a>
				{{- end }}
				</li>
				<li{{ if eq .NavigationLevel 5 }} class="nav-current">{{ else }}>{{ end }}
				{{ with .Identity -}}
					{{ if .LoggedIn -}}
					<a href="{{ $siteroot }}/logout/">Logout</a>
					{{- else -}}
					<a href="{{ $siteroot }}/login/">Login</a>
					{{- end }}
				{{- end }}
				</li>
			</ul>
		</div>
{{- end }}