{{ define "navigation" -}}
		<div id="navigation">
			{{ with .Session -}}
			<ul id="navigation-list">
				<li{{ if .PageHome }} class="current">{{ else }}>{{ end }}
					<a href="/poker/">Home</a>
				</li>
				<li{{ if .PageGame }} class="current">{{ else }}>{{ end }}
					<a href="/poker/game/">Play</a>
				</li>
				<li{{ if .PageLeaderboard }} class="current">{{ else }}>{{ end }}
					<a href="/poker/leaderboard/">Leaderboards</a>
				</li>
				<li class="nav-user{{ if .PageUser }} current{{ end }}">
					{{ if .LoggedIn -}}Welcome, <a href="/poker/user/{{ .Username }}">{{ .Name }}</a>.{{- else -}}<a href="/poker/register/">Register</a>{{- end }}
				</li>
			</ul>
			{{- end }}
		</div>
{{- end }}
