{{ define "title" }} | {{ with .UserPage }}{{ .Username }}{{ end }}{{ end }}
{{ define "content" -}}
			{{ if .UserPage }}
			{{ with .UserPage -}}
			<h1>{{ .Username }}</h1>
			<p>{{ .Name }}</p>
			<p>{{ .Email }}</p>
			<div id="profile-picture">
				<img src="{{ .SiteRoot }}/static/img/{{ .PictureURL }}">
			</div>
			{{- if .MatchesSession }}
			<a href="{{ .SiteRoot }}/user/{{ .Username }}/edit">Edit</a>
			{{- end }}
			{{- end }}
			{{ else }}
			<p>User not found.</p>
			{{ end }}
{{- end }}
