{{ define "title" }} | Edit | {{ with .UserPage }}{{ .Username }}{{ end }}{{ end }}
{{ define "content" -}}
		{{ with .UserPage -}}
		<h1>{{ .Username }}</h1>
		<form method="POST">
			<div>
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{ .Name }}">
			</div>
			<div>
				<label for="email">Email:</label>
				<input name="email" type="text" value="{{ .Email }}">
			</div>
			<div>
				<label for="email">Description:</label>
				<input name="description" type="text" value="{{ .Description }}">
			</div>
			<div>
				<label for="password">Current Password:</label>
				<input name="password" type="password">
			</div>
			<div>
				<label for="password">New Password:</label>
				<input name="newpassword" type="password">
			</div>
			<div>
				<label for="password-repeat">Repeat Password:</label>
				<input name="newpassword-repeat" type="password">
			</div>
			<div>
				<input type="submit" value="Edit">
			</div>
		</form>
		{{- end }}
{{- end }}
